on late-init
    write /sys/class/nfc_sec/pvdd "1"

on post-fs-data
    write /sys/class/nfc_sec/pvdd "2"

    # NFC Key
    mkdir /data/vendor/nfc 0770 nfc nfc

on boot
    write /sys/class/nfc_sec/pvdd "3"

    # NFC driver permission
    chmod 0660 /dev/sec-nfc
    chown nfc nfc /dev/sec-nfc

    # NXP
    chmod 0660 /dev/pn553
    chmod 0660 /dev/pn547
    chmod 0660 /dev/p61
    chown nfc nfc /dev/pn553
    chown nfc nfc /dev/pn547
    chown system system /dev/p61

    # SLSI
    chmod 0660 /dev/p3
    chown system system /dev/p3

    # ST
    chmod 0660 /dev/st21nfc
    chmod 0660 /dev/st54spi
    chown nfc nfc /dev/st21nfc
    chown system system /dev/st54spi
