on post-fs-data
    mkdir /data/vendor/conn 0771 wifi wifi
    mkdir /data/vendor/wifi 0771 wifi wifi
    mkdir /data/vendor/wifi/wpa 0770 wifi wifi
    mkdir /data/vendor/wifi/wpa/sockets 0770 wifi wifi
    mkdir /data/vendor/log/wifi 0770 wifi system

    # Wi-Fi TRP/TIS
    chown wifi wifi /data/vendor/conn/.psm.info
    chmod 0640 /data/vendor/conn/.psm.info

    # Wi-Fi Antenna Selection
    chown wifi wifi /data/vendor/conn/.ant.info
    chmod 0640 /data/vendor/conn/.ant.info

    # Wi-Fi Version
    chown wifi wifi /data/vendor/conn/.wifiver.info
    chmod 0644 /data/vendor/conn/.wifiver.info

    # Wi-Fi Memory dump
    chown wifi wifi /data/vendor/conn/.memdump.info
    chmod 0640 /data/vendor/conn/.memdump.info

    # Wi-Fi Hotspot
    chown wifi wifi /data/vendor/conn/.softap.info
    chmod 0644 /data/vendor/conn/.softap.info

    # Wi-Fi MAC
    mkdir /mnt/vendor/efs/wifi 0755 wifi wifi
    chown wifi wifi /mnt/vendor/efs/wifi/.mac.info
    chown wifi wifi /mnt/vendor/efs/wifi/.mac.cob
    chown wifi wifi /sys/wifi/mac_addr
    chmod 0644 /mnt/vendor/efs/wifi/.mac.info
    chmod 0644 /mnt/vendor/efs/wifi/.mac.cob
    chmod 0640 /sys/wifi/mac_addr

    chown wifi wifi /data/vendor/conn/.feature.info
    chown wifi wifi /sys/wifi/feature
    chown wifi wifi /sys/wifi/dump_in_progress
    chmod 0640 /data/vendor/conn/.feature.info
    chmod 0660 /sys/wifi/dump_in_progress
    chmod 0640 /sys/wifi/feature

on boot
    setprop wifi.interface wlan0
